<div class="ml-3" *ngIf="loaded">
  <h1>Add User</h1>
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <div>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="username"  matInput type="text" class="text-center">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email"  matInput type="text" class="text-center">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" minlength="8"  matInput [type]="hide ? 'password' : 'text'" class="text-center">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="standard">
        <mat-label>Client</mat-label>
        <input  formControlName="client"  type="text" placeholder="Client" matInput  [matAutocomplete]="auto">
        <mat-autocomplete [displayWith]="displayFn"  #auto="matAutocomplete">
          <mat-option *ngFor="let client of filteredClients | async" [value]="client">
            {{client.firstName}} {{client.lastName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary">
        <mat-icon class="align-middle mb-1">add </mat-icon>&nbsp;
        Add
      </button>
    </div>
  </form>
</div>
