<mat-spinner *ngIf="!loaded"></mat-spinner>

<div *ngIf="loaded">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{client|fullName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-icon>phone</mat-icon>
        {{client.phone}}
      </div>
      <mat-divider></mat-divider>
      <div class="mt-2">
        <mat-icon>place</mat-icon>
        {{client.adress}}
      </div>
      <div class="mt-3">

      </div>
    </mat-card-content>
  </mat-card>
  <div class="mt-3" *ngIf="client.comptes.length!=0">
    <mat-grid-list [cols]="3" [gutterSize]="'40px'" rowHeight="100">
      <mat-grid-tile *ngFor="let compte of client.comptes">
        <mat-card style="width:100%;height: 100%">
          <mat-card-header>
            <mat-card-title><mat-icon>account_balance</mat-icon> {{compte.rib}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-icon>attach_money</mat-icon> {{compte.solde}}
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
