<mat-spinner color="accent" *ngIf="!loaded"></mat-spinner>
<div *ngIf="loaded && clientExist" class="ml-3">
  <h1>Update a Client</h1>
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <div>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input formControlName="firstName"  matInput type="text" class="text-center">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input formControlName="lastName"  matInput type="text" class="text-center">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input formControlName="phone"  matInput type="text" class="text-center">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Adress</mat-label>
        <input formControlName="adress"  matInput type="text" class="text-center">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary">
        <mat-icon class="align-middle mb-1">edit </mat-icon>&nbsp;
        Update
      </button>
    </div>
  </form>

</div>
