<div style="background-image: url('assets/bg.jpg')" class="bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <form [formGroup]="formGroup" (ngSubmit)="submit()" class="box">
            <h1>Login</h1>
            <p class="text-muted"> Please enter your login and password!</p>
            <input type="text" formControlName="username" required name="password" placeholder="Username">
            <input type="password" required minlength="8" formControlName="password" name="password" placeholder="Password">
            <input type="submit" name="" value="Login">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
