<mat-spinner color="accent" *ngIf="!loaded"></mat-spinner>
<div *ngIf="loaded && accountExist" class="ml-3">
  <h1>Update an Account</h1>
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <div>
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input formControlName="solde"  matInput type="number" class="text-center">
        <span matPrefix class="mr-2">TD&nbsp;</span>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary">
        <mat-icon class="align-middle mb-1">edit </mat-icon>&nbsp;
        Update
      </button>
    </div>
  </form>

</div>
