<mat-form-field class="ml-2">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Mseddi" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="rib">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> RIB </th>
      <td mat-cell *matCellDef="let row"> {{row.rib}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="solde">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
      <td mat-cell *matCellDef="let row"> {{(row.solde| number) | tnd}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
      <td mat-cell *matCellDef="let row"> <span [matTooltip]="row.client.id" matTooltipShowDelay="1000" matTooltipPosition="after">{{row.client|fullName}}</span> </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let row" >
        <button (click)="edit(row.rib)" mat-icon-button color="accent" >
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        <button (click)="delete(row.rib)" mat-icon-button color="warn"  class="ml-5">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr  class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4" >No data</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
