<mat-spinner *ngIf="!loaded"></mat-spinner>
<div *ngIf="loaded" class="ml-3">
  <h1>Add an Account</h1>
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
   <div>
     <mat-form-field>
       <mat-label>Amount</mat-label>
       <input formControlName="solde"  matInput type="text" class="text-center">
       <span matPrefix class="mr-2">TND&nbsp;</span>
     </mat-form-field>
   </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Client</mat-label>
        <input  formControlName="client"  type="text" placeholder="Client" matInput  [matAutocomplete]="auto">
        <mat-autocomplete [displayWith]="displayFn"  #auto="matAutocomplete">
          <mat-option *ngFor="let client of filteredClients | async" [value]="client">
           {{client.firstName}} {{client.lastName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary">
        <mat-icon class="align-middle mb-1">add </mat-icon>&nbsp;
        Add
      </button>
    </div>
  </form>
</div>
