.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
input {
  -moz-appearance: textfield;
}
