<header style="background: #3f51b5">
  <nav class="navbar navbar-expand-md" id="navbar">
    <div class="container">
      <div class="nav-toggler" [class.drawer-open]="isDrawerOpen" id="nav-toggler" (click)="toggleNavDrawer(!isDrawerOpen)">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <a class="navbar-brand override" routerLink="/">
       <img *ngIf="isAdmin" width="25px" src="assets/icon.png" />  {{isAdmin? 'Bank Mangement':'Welcome ' +(user.username)}}
      </a>
      <app-drawer [isAdmin]="isAdmin" [isDrawerOpen]="isDrawerOpen" (drawerToggleEmitter)="toggleNavDrawer($event)"></app-drawer>
    </div>
  </nav>
</header>
