<table class="navbar-nav override mt-1">
  <tr *ngIf="isAdmin">
    <td>
      <button mat-icon-button [matMenuTriggerFor]="accountMenu"><mat-icon color="accent">account_balance_outline</mat-icon> Account</button>
      <mat-menu #accountMenu="matMenu">
        <button routerLink="comptes/list" mat-menu-item> <mat-icon color="accent">list</mat-icon> List</button>
        <button routerLink="comptes/add" mat-menu-item><mat-icon color="accent">add</mat-icon> Add </button>
      </mat-menu>
    </td>
  </tr>
  <tr *ngIf="isAdmin">
    <td>
      <button mat-icon-button [matMenuTriggerFor]="clientMenu"><mat-icon color="accent">person</mat-icon> Client</button>
      <mat-menu #clientMenu="matMenu">
        <button routerLink="clients/list" mat-menu-item> <mat-icon color="accent">list</mat-icon> List</button>
        <button routerLink="clients/add" mat-menu-item><mat-icon color="accent">add</mat-icon> Add </button>
      </mat-menu>
    </td>
  </tr>
  <tr *ngIf="isAdmin">
   <td>
     <button mat-icon-button [matMenuTriggerFor]="userMenu"><mat-icon color="accent">account_circle</mat-icon> User</button>
     <mat-menu #userMenu="matMenu">
       <button routerLink="users/list" mat-menu-item> <mat-icon color="accent">list</mat-icon> List</button>
       <button routerLink="users/add" mat-menu-item><mat-icon color="accent">add</mat-icon> Add </button>
     </mat-menu>
   </td>
  </tr>
  <tr [ngClass]="{'fixed-bottom' : isDrawerOpen,'float-right':!isDrawerOpen}">
    <td> <button (click)="logout()" mat-icon-button><mat-icon color="warn">exit_to_app</mat-icon> Logout</button> </td>
  </tr>
</table>
