.mat-icon {
  vertical-align: middle;
}
:host {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  background-color: white;
  transition: 0.3s ease;
  overflow: hidden;
  opacity: 0.3;
  touch-action: none;
}

:host.drawer-open {
  width: 30vw;
  height: 100vh;
  opacity: 1;
  background: #3f51b5;
}
tr{
  width:100%;
  padding-left:20px;
}
td{
  width: 140px;
}
@media screen and (min-width: 60rem) {

  :host {
    position: relative;
    display: block;
    left: unset;
    top: unset;
    height: unset;
    width: unset;
    margin-left: auto;
    background-color: unset;
    box-shadow: none;
    opacity: 1;
  }

  :host.drawer-open {
    width: unset;
  }

}
