<mat-spinner *ngIf="!loaded"></mat-spinner>
<div *ngIf="loaded" class="align-items-center justify-content-center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user.username}}</mat-card-title>
      <mat-card-subtitle>{{client|fullName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-icon>phone</mat-icon>
        {{client.phone}}
      </div>
      <mat-divider></mat-divider>
      <div class="mt-2">
        <mat-icon>place</mat-icon>
        {{client.adress}}
      </div>
      <div class="mt-3">

      </div>
      <mat-accordion *ngIf="comptes.length!=0" class="example-headers-align" multi>
        <mat-expansion-panel *ngFor="let compte of comptes;let i=index;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Account N° {{i+1}}
            </mat-panel-title>
            <mat-panel-description>
              RIB {{compte.rib}}
              <mat-icon>account_balance</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <span><mat-icon>attach_money</mat-icon> {{compte.solde|number}}</span>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
