.example-header-image {
  background-image: url("/assets/account_circle.png");
  background-size: cover;
}


.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
